<section id="title">
  <div class="title my-5">
    <h2>Personagens de Rick e Morty</h2>
  </div>
</section>

<section id="search">
  <div class="search-button my-4">
    <input id="search-input" class="form-control form-control-lg" type="text" placeholder="Burcar Personagem">
    <label for="search-input" class="mx-3 mt-2">
      <i class="bi bi-search"></i>
    </label>
  </div>
</section>

<section id="items-list-desktop">
  <div class="row">
    <div class="items py-4 col-6" *ngFor="let character of characters | paginate: { itemsPerPage: 2, currentPage: currentPage, totalItems: totalCharacters }">
      <a class="item px-3 row" (click)="openDescriptionModal()">
        <div class="image col-6">
          <img src="{{ character.image }}" alt="image">
        </div>

        <div class="description col-6">
          <h2 class="name my-1">{{ character?.name }}</h2>
          <h4 class="name">{{ character?.origin?.name }}</h4>
          <h4 class="name">{{ character?.species }}</h4>
        </div>
      </a>
    </div>

    <div class="pagination row">
      <div class="col-4 backward">
        <div type="button" class="btn btn-primary backward-button" (click)="forwardOrBackward('backward', currentPage)">Anterior</div>
      </div>

      <div class="col-4 numbers-per-page">
        <span *ngIf="currentPage - 1 < 1">...</span>
        <span *ngIf="currentPage - 1 >= 1" class="backwardPage" (click)="forwardOrBackward('backward', currentPage)">{{ currentPage - 1 }}</span>
        <span class="currentPage mx-4">{{ currentPage }}</span>
        <span *ngIf="currentPage + 1 <= totalCharacters / 2" class="forwardPage" (click)="forwardOrBackward('forward', currentPage)">{{ currentPage + 1 }}</span>
        <span *ngIf="currentPage + 1 > totalCharacters / 2">...</span>
      </div>

      <div class="col-4 forward">
        <div type="button" class="btn btn-primary forward-button" (click)="forwardOrBackward('forward', currentPage)">Proxima</div>
      </div>
    </div>
  </div>
</section>

<section id="items-list-mobile">
  <div class="items mt-4 row" *ngFor="let character of characters | paginate: { itemsPerPage: 2, currentPage: currentPage, totalItems: totalCharacters }">
    <a class="item px-3 row" (click)="openDescriptionModal()">
      <div class="image col-6">
        <img src="{{ character.image }}" alt="image">
      </div>

      <div class="description col-6">
        <h5 class="name my-1">{{ character?.name }}</h5>
        <p class="name">{{ character?.origin?.name }}</p>
        <p class="name">{{ character?.species }}</p>
      </div>
    </a>

    <hr class="mt-4">
  </div>

  <div class="pagination row mt-5">
    <div class="col-4 backward">
      <div type="button" class="btn btn-primary backward-button" (click)="forwardOrBackward('backward', currentPage)">Anterior</div>
    </div>

    <div class="col-4 numbers-per-page">
      <span *ngIf="currentPage - 1 < 1">...</span>
      <span *ngIf="currentPage - 1 >= 1" class="backwardPage" (click)="forwardOrBackward('backward', currentPage)">{{ currentPage - 1 }}</span>
      <span class="currentPage mx-4">{{ currentPage }}</span>
      <span *ngIf="currentPage + 1 <= totalCharacters / 2" class="forwardPage" (click)="forwardOrBackward('forward', currentPage)">{{ currentPage + 1 }}</span>
      <span *ngIf="currentPage + 1 > totalCharacters / 2">...</span>
    </div>

    <div class="col-4 forward">
      <div type="button" class="btn btn-primary forward-button" (click)="forwardOrBackward('forward', currentPage)">Proxima</div>
    </div>
  </div>
</section>
