<section id="search">
  <div class="search-button">
    <div class="btn btn-primary">Burcar itens da lista</div>
  </div>
</section>

<section id="grafico"></section>

<section id="items-list-desktop">

  <div class="row">
    <div class="items py-4 col-6" *ngFor="let character of characters">
      <a class="item px-3 row" (click)="openDescriptionModal()">
        <div class="description col-6">
          <h1 class="name my-1">{{ character?.name }}</h1>
          <h3 class="name">{{ character?.origin?.name }}</h3>
          <h3 class="name">{{ character?.species }}</h3>
        </div>

        <div class="image col-6">
          <!-- <img src="{{ character.image }}" alt="image"> -->
          <img src="https://th.bing.com/th/id/OIP.H5Xu8XZHiEXYz7J_ZVApDwHaFP?rs=1&pid=ImgDetMain" alt="image">
        </div>
      </a>
    </div>
  </div>

</section>


<!-- <section id="items-list-mobile">


</section> -->
